:root {
    --primary: #ff7f82;
    --primary-hover: #ffdc7f;
    --secondary: #685d40;
    --secondary-hover: #47402e;
    --bg: #000;
    --bg-hover: #1f1d1d;
    --bg-secondary: #fff;
}

body {
    background: var(--bg);
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
    line-height: 1.25rem;
}

header {
    width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

.wrapper {
    margin: 1vw 10vw;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
}

.flex {
    display: flex;
}

.nav-link {
    font-size: 1rem;
    padding: .625rem 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-hover);
    transition: transform 0.5s;
    transform-origin: 1 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.7,0.7);
    transform: scaleX(0);
}

.nav-link:hover {
    background: var(--bg-hover) ;
    color: var(--primary-hover);
    
}

.nav-link:hover::before{
    transform: scaleX(1);
  }

#content {
    margin-top: 6rem;
}

footer {
    width: 100%;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
}

footer p,
.profiles {
    line-height: 60px;
    margin: 0;
}

.profiles {
    font-size: 30px;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

#content {
    /* To remove */
    height: 600px;
}

.hero {
    display:flex;
    overflow: none;
}

.pt-1 {
    padding-top: 1rem ;
}

.pt-2 {
    padding-top: 2rem ;
}

.pt-3 {
    padding-top: 3rem ;
}


.white {
    color: #fff;
}

#ninja-img {
    width: 400px;
    max-width: 30%;
    height: auto;
}

.hero p{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.skills{
    column-count: 3;
    column-rule: 1px solid var(--primary);
    column-gap: 10rem;
}

.skills h2 {
    font-weight: 600;
    padding-bottom: 0.25rem;
}

